# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/
env/

# Environment variables file
.env

# VS Code settings
.vscode/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Log files
*.log
logs/
!logs/.gitkeep

# Distribution / packaging
dist/
build/
*.egg-info/

*.csv